/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "ReadoutRegularSwfte";
    src: url("./fonts/Readout.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Readout.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/Readout.otf") format("opentype"), /* Open Type Font */
      url("./fonts/Readout.svg") format("svg"), /* Legacy iOS */
      url("./fonts/Readout.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/Readout.woff") format("woff"), /* Modern Browsers */
      url("./fonts/Readout.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

button, h3 {
  font-family: 'Orbitron', sans-serif;
}

.readout {
    width: 100%;
    background: black;
    border: 2px solid red;
    overflow: hidden;
}

.digit {
  font-family: "ReadoutRegularSwfte", monospace;
  display: inline-block;
  position: relative;
  width: 75px;
  margin: 7px 4px;
  font-size: 4em;
  color: rgb(240, 170, 130);
  text-shadow: 6px 6px 10px red, -6px -6px 10px red;
  
}